body{
    font-family:Arial, sans-serif;
    background: white;
}
.form-container{
    background-color: aliceblue;
    padding: 30px;
    margin: 30px;
    width: 350px;
    border-radius: 8px;
    box-shadow:0 0 10px #ccc; 
}
label{
    display: block;
    margin-top: 15px; 
}
input, textarea{
width: 100%;
padding: 8px;
margin-top: 5px;
border-radius: 4px;
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    background:blue ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor : pointer ; 
}
button:hover{
    background: blue;
}
