.curiosidade{
    text-align: center;
}
.Preços{
    text-align: center;
}
.pagpreço{
    margin-left: 47%;
}
.CurioText{
    text-align: center;
}
.PrimeiroCinema{
    width: 25%;
    height: auto;
}
.PrimeiroFilmeBR{
    width: 25%;
    height: auto;
}
.Bilheteria{
    width: 25%;
    height: auto;
}
.MinhaMaePeça{
    width: 25%;
    height: auto;
}
.PrimeiroOscar{
    width: 25%;
    height: auto;
}
.Disney{
    width: 25%;
    height: auto;
}
.cn{
    text-align: center;
}
.an{
    margin: 2%;
}
