* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

table {
    width: 50%;    
}

table,
th,
td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}